.inputDesign {
  height: 3em;
  width: 18em;

  border: 0.2em solid black;
  margin: 1em;
  font-weight: bold;
  background-color: #1f1e1e;
  color: white;
}

.inputDesignError {
  border: 0.13em solid crimson;
}