.superAdminDesign {
    overflow: auto;
    height: 88vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}